.page-main {
  min-height: 70vh;
}
.footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(51, 50, 50, 0.434);
  display: block;
  min-width: 100vw;
}

.register_form {
  width: 450px;
  padding: 1rem;
  margin: 2rem auto 2rem;
  border: 2px solid rgba(37, 36, 36, 0.501);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(55, 54, 54, 0.262);
}
.verify_email-card {
  width: 45rem;
}
.centering {
  display: block;
  position: absolute;
  margin-top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  position: fixed;
  top: 0;
}
.admin_mainbody {
  min-height: 80vh;
}
.hamburger_header {
  color: white;
  margin-right: 1rem;
  font-size: 2rem;
}
